body{
	text-align:center;
}
.graph{
	margin:1%;
}
.bar:hover{
	fill:orange;
}
div{
	color:white;
	background-color:orange;
	padding:1%;
	border-radius:5px;
	position:absolute;
}
.title{
	font-size:24px;
	fill:teal;
}
.description{
	font-size: 10px;
	fill:teal;
}
.yAxis-des{
	font-size:14px;
}
.bar{
	fill:teal;
	stroke:teal;
}